 <div id="login" layout="column" style="text-align : center;" class="col-md-3 col-md-offset-4">
            <div class="md-menu-demo"> 
                <div class="menu-demo-container">
                    <h2 class="md-title">Connexion</h2>
                    <form role="form" name="LoginForm" ng-submit="formSubmit(LoginForm.$valid)" id="loginFrom" novalidate>
                        <md-input-container>
                            <label>Username</label>
                            <input type="text" name="username" ng-model="user.username" required>
                        </md-input-container>
                        <md-input-container>
                            <label>Password</label>
                            <input type="password" name="password" ng-model="user.password" required> 
                        </md-input-container>
                        <span ng-show="userNotFound" class="text-danger">Cet utilisateur n'existe pas</span></br>
                        <md-button class="md-primary" type="submit" ng-disabled="LoginForm.$invalid">Se connecter</md-button>     
                    </form>
                </div>
            </div>    
        </div>